In [1]:
import numpy as np 
import pandas as pd

In [13]:
df = pd.read_csv("Crop_recommendation.csv")
df.tail(10)

        N   P   K  temperature   humidity        ph    rainfall   label
2190  103  40  30    27.309018  55.196224  6.348316  141.483164  coffee
2191  118  31  34    27.548230  62.881792  6.123796  181.417081  coffee
2192  106  21  35    25.627355  57.041511  7.428524  188.550654  coffee
2193  116  38  34    23.292503  50.045570  6.020947  183.468585  coffee
2194   97  35  26    24.914610  53.741447  6.334610  166.254931  coffee
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [15]:
df.shape

(2200, 8)

In [3]:
df["label"].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [4]:
X = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
y = df['label']

In [5]:
from sklearn.model_selection import train_test_split 
X_train ,X_test , y_train,y_test = train_test_split(X,y,train_size=0.75,random_state=32)

In [6]:
print("x_train :",X_train.shape)
print("x_test :",X_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (1650, 7)
x_test : (550, 7)
y_train : (1650,)
y_test : (550,)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)
print(acc)

0.9818181818181818

In [12]:
predicted_values = knn.predict([[99,15,27,27.417112,56.636362,6.086922,127.924610]])
predicted_values

array(['coffee'], dtype=object)

In [10]:
df2 = pd.read_csv("crop_yield.csv")
df2

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909
...,...,...,...,...,...,...,...,...,...,...
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

In [11]:
jk_df = df2.loc[df2['State'] =="Jammu and Kashmir"]
jk_df.head(5)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
10939,Arhar/Tur,2008,Rabi,Jammu and Kashmir,22.0,12,1390.1,3146.88,1.98,0.550000
10940,Barley,2008,Rabi,Jammu and Kashmir,9747.0,4724,1390.1,1394210.88,877.23,0.585000
10941,Garlic,2008,Rabi,Jammu and Kashmir,604.0,516,1390.1,86396.16,54.36,0.825556
10942,Gram,2008,Rabi,Jammu and Kashmir,284.0,155,1390.1,40623.36,25.56,0.545000
10943,Linseed,2008,Rabi,Jammu and Kashmir,126.0,97,1390.1,18023.04,11.34,0.782000

In [16]:
jk_df.shape

(631, 10)

In [18]:
jk_df["Crop"].unique()

array(['Arhar/Tur', 'Barley', 'Garlic', 'Gram', 'Linseed', 'Masoor',
       'Onion', 'Other  Rabi pulses', 'Peas & beans (Pulses)', 'Potato',
       'Rapeseed &Mustard', 'Urad', 'Wheat', 'other oilseeds', 'Bajra',
       'Cotton(lint)', 'Cowpea(Lobia)', 'Dry chillies', 'Ginger',
       'Groundnut', 'Horse-gram', 'Jowar', 'Maize', 'Moong(Green Gram)',
       'Moth', 'Other Cereals', 'Other Kharif pulses', 'Rice', 'Sannhamp',
       'Sesamum', 'Small millets', 'Sugarcane', 'Tobacco', 'Turmeric',
       'Coriander', 'Ragi'], dtype=object)